/*****************************************************************************/
/*  Custom styles for the Messenger desktop web interface.                   */
/*  Jennifer Apacible                                                        */
/*****************************************************************************/

._1qt4._5l-m,
._2j6._5l-3,
._5iwm._150g._58ah,
._5u15,
._fl2 {
  display: none;
}

._1enh {
  max-width: 74px;
  min-width: 74px;
}